.swiper-container {
  width: 80%;
  margin: 5vw auto;
  display: flex;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.swiper-button-prev {
  background-image: url(./assets/swiper_btn_prev.png)
}
.swiper-button-next {
  background-image: url(./assets/swiper_btn_nxt.png)
}
.swiper-wrapper {
  display: flex;
  margin: 1em 2em;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide img {
width: 60%;
height: auto;
max-height: 250px;
filter: grayscale(100%);
transition: 1s;
}

.swiper-slide img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.swiper-pagination-bullet-active {
  background-color: #00cd00;
}

// service swiper

.service-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .swiper-wrapper {
    margin: 0;
  }
}

.service-slide {
  text-align: center;
  font-size: 18px;
  height: auto;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
    h4{
      margin: 0;
      color: #02ca12;
      text-transform: uppercase;
    }
    p {
      width: 80%;
      margin: 2em 0;
    }
    a {
      text-decoration: none;
      color: #02ca12;
    }
    a:hover {
      text-decoration: underline;
    }
} 

.service-pagination { 
  padding: 0;
  text-align: center;
  height: 8vw;

  @media screen and (max-width: 972px){
    margin-bottom: 2em;
  }
}
.service-pagination{
  .swiper-pagination-bullet {
    width: 20vw;
    height: auto;
    padding: 1em 0.5em;
    border-radius: 0;
    text-align: center;
    line-height: 2vw;
    font-size: 2vw;
    color:#fff;
    opacity: 1;
    background:#000;
    text-transform: uppercase;
    @media screen and (max-width: 430px){
      font-size: 4vw;
      width: 30vw;
    }
  }
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #02ca12;
    position: relative;
  }
  .swiper-pagination-bullet-active::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -100%;
    margin-left: -24px;
    background-image: url('./assets/active-arrow.png');
    background-repeat: no-repeat;
    width: 3em;
    height: 3em;
    @media screen and (max-width: 700px){
      width: 5em;
    }
    @media screen and (max-width: 430px){
      width: 8em;
    }
  }
}

