.swiper-container {
  width: 80%;
  margin: 5vw auto;
  display: flex;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.swiper-button-prev {
  background-image: url(./assets/swiper_btn_prev.png)
}
.swiper-button-next {
  background-image: url(./assets/swiper_btn_nxt.png)
}
.swiper-wrapper {
  display: flex;
  margin: 1em 2em;
  align-items: center;
  justify-content: space-between;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-slide img {
width: 60%;
height: auto;
max-height: 250px;
/* border: 1px solid black; */
filter: grayscale(100%);
transition: 1s;
}

.swiper-slide img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.swiper-pagination-bullet-active {
  background-color: #00cd00;
}

// service swiper

.service-swiper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .swiper-wrapper {
    margin: 0;
  }
}

.service-slide {
  text-align: center;
  font-size: 18px;
  height: auto;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* adjusting the content in the slide */
  display: flex;
  flex-direction: column;
  align-items: center;
    h4{
      margin: 0;
      color: #02ca12;
      text-transform: uppercase;
    }
    p {
      width: 80%;
      margin: 2em 0;
    }
    a {
      text-decoration: none;
      color: #02ca12;
    }
    a:hover {
      text-decoration: underline;
    }
} 

// .swiper-container-horizontal > .swiper-pagination-bullets > .swiper-pagination-bullet {
//   margin: 0 5vw;
// }
.service-pagination {
  /* top: 0;
  position: absolute; */
  padding: 0;
  text-align: center;
  /* z-index: 10; */
}
.service-pagination{
  .swiper-pagination-bullet {
    width: auto;
    height: auto;
    padding: 1em 0.5em;
    border-radius: 0;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    color:#fff;
    opacity: 1;
    background:#000;
  }
}
.service-pagination{ 
  .swiper-pagination-bullet-active {
    color:#fff;
    background: #02ca12;
  }
}