.footer-content {
    background-image: url(./assets/footer-line.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 2em auto;
    @media screen and (max-width: 710px){
        background-image: none;
        margin-bottom: 0;
    }
    @media screen and (max-width: 500px){
        width: 90%;
    }
}

.site-footer {
    background-image: url(./assets/Footer.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .site-info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 15vw;
            height: auto;
        }
        @media screen and (max-width: 710px){
            flex-direction: column;
            margin-top: 0;
            img {
                width: 25vw;
            }
        }
    }
    .footer-navs{
        width: 100%;
        float: right;
    .menu-foot-nav-container,
    .menu-social-media-container {
        padding-top: 5vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    .menu,
    .social-menu {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        width: 70%;
        margin: 0 0 0 auto;
        li {
            a{
                font-size: 0.6em;
                text-decoration: none;
                color: #ffffff;
            }
            a:hover {
                color: #00cd00;
            }
        }
        @media screen and (max-width: 974px){
            width: 80%;
        }
        @media screen and (max-width: 754px){
            width: 90%;
        }
        @media screen and (max-width: 710px){
            margin: 0;
            width: 100%;
            padding-bottom: 1em;
        }
    }
}
}
.footer-navs{
.menu-social-media-container {
    padding-top: 0;
    margin-top: 1.25vw;
    .social-menu {
         width: 20%;
        .social-img {
            width: 2.5vw;
            height: 2.5vw;
        }
        @media screen and (max-width: 974px){
            width: 25%;
            margin-top: 1vw;
        }
        @media screen and (max-width: 754px){
            display: flex;
            margin: 0 auto;
            padding: 0;
            
        }
        @media screen and (max-width: 710px){
            .social-img {
                width: 5vw;
                height: 5vw;
            }
        }
    }
   
}
}
}
.built-by {
    color: #ffffff;
    margin: 4em auto 2em;
    text-align: center;
    font-size: 0.5em;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    a:hover,
    a:focus {
        text-decoration: underline;
        color: #00cd00;
    }
    @media screen and (max-width: 710px){
        margin: 2em auto;
    }
}





