.site-footer {
    background-color: #000000;

    .site-info {
        margin: 2em auto;
        hr{
            width: 80%;
            margin-left: auto;
            margin-right: 2em;
        }
    }
}

.menu-foot-nav-container,
.menu-social-media-container {
    .menu{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-content: flex-end;
        width: 60%;
        margin-left: auto;
        margin-right: 2em;
        li {
            a{
                text-decoration: none;
                color: #ffffff;
            }
            a:hover {
                text-decoration: underline;
                color: #00cd00;
            }
        }
    }
}

.menu-social-media-container {
    .menu {
        width: 30%;
    }
}

.built-by {
    color: #ffffff;
    margin: 1em auto;
    text-align: center;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    a:hover {
        text-decoration: underline;
        color: #00cd00;
    }
}
