.site-footer {
    background-color: #000000;
    .site-info {
        margin-top: 5.75vw;
        flex: 4 0 0;
        hr{
            width: 100%;
            margin-bottom: 0;
            background-color: #aaa9a9;
        }
    }
}

.footer-content {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 2em auto;

    img{
        height: 13vw;
    }
}

.menu-foot-nav-container,
.menu-social-media-container {
    .menu{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin-left: auto;
        margin-bottom: 0.5em;
        li {
            a{
                font-size: 0.6em;
                text-decoration: none;
                color: #ffffff;
            }
            a:hover {
                color: #00cd00;
            }
        }
    }
}

.menu-social-media-container {
    .menu {
        width: 20%;
        margin-top: 0.5em;
        .social-img {
            width: 2.5vw;
            height: 2.5vw;
        }
    }
}

.built-by {
    color: #ffffff;
    margin: 4em auto 2em;
    text-align: center;
    font-size: 0.5em;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    a:hover,
    a:focus {
        text-decoration: underline;
        color: #00cd00;
    }
}

@media  screen and (max-width: 705px) {
    .site-footer {
        .site-info {
            margin-top: 3.75vw;
        }
    }
    .menu-foot-nav-container{
        .menu{
            width: 90%;
        }
    }
    .menu-social-media-container {
        .menu {
            width: 30%;
            .social-img {
                width: 3.5vw;
                height: 3.5vw;
        }
        }
    }
}

@media  screen and (max-width: 525px){
    .footer-content{
        display: block;
        width: 90%;
    }
}

@media  screen and (max-width: 375px) {
    .menu-foot-nav-container{
        .menu{
            width: 98%;
            justify-content: space-between;
            margin: 0.5em auto;
            padding-left: 0;
        }
    }
    .menu-social-media-container {
        .menu {
            width: 40%;
            .social-img {
                width: 5.5vw;
                height: 5.5vw;
        }
        }
    }
    .built-by {
        width: 60%;
    }
}































