.top-navigation {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 1em auto 0;

    .custom-logo-link {
        padding-right: 2em;
        img{
            width: 20vw;
        }
    }
    @media screen and (max-width: 525px){
        width: 90%;
    }
}

.main-navigation {
	clear: both;
    /*margin-left: auto;
    margin-right: 0;*/
	float: right;
	width: 90%;
    padding-top: 2em;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		/*ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}*/

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;
		&:hover > a,
		&.focus > a {
            color: #00cd00;
		}
	}

	a {
		display: block;
        font-size: 0.7em;
        padding-top: 1em;
        padding-bottom: 1em;
		text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}

    @media screen and (max-width: 1080px){
        padding-top: 0;
    }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	float: right;
	margin-top: 3vw;
}
.main-navigation.toggled ul {
	// float: none;
	display: flex;
	// display: inline;
	flex-direction: column;
	align-items: flex-end;
	background-color: #ebebeb;
	width: auto;
	margin-right: 0.15em;
	box-shadow: 1px 2px 4px #000000;
	position: absolute;
			top: 8%;
			left: 72vw;
	z-index: 99999;
	li {
		padding-right: 1em;
		a {
			color: #000000;
		}
	}
	.menu-item-1783 {
		a {
			padding-right: 0;
		}
	
	}
	@media screen and (max-width: 750px){ 
			left: 70vw;
	}
	@media screen and (max-width: 573px){ 
		left: 65vw;
	}
	@media screen and (max-width: 377px){ 
		li{
			a{
				font-size: 0.6em
			}
		}
	}
}

.menu-item-1783 {
    background-color: #00cd00;
    text-transform: uppercase;
    a {
        padding-left:1em;
        padding-right: 1em;
	}

}

@media screen and (min-width: 1080px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
        justify-content: space-between;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

