.site-header {
    background-image: url(./assets/Hero-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 45vw;
}

.site-branding{
    width: 40%;
    margin: 0 0 0 10%;
    .site-title{
        font-size: 2em;
        margin-bottom: 0;
        a{
            color: #ffffff;
            text-decoration: none;
        }
    }

    .site-description {
        color: #ffffff;
    }
}
