.site-header {
    background-image: url(./assets/Hero-image.png);
    background-position: right 50% bottom 50%;;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50vw;
    height: auto;
     
}

.header-info {
    width: 90%;
    margin: 2em auto;
    align-items: center; 
    margin-top: 10vw;
    .header-products{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 0;
        margin: 0;
    }
    @media screen and (max-width: 525px){
        width: 90%;
        margin-bottom: 0;
    }
    @media screen and (max-width: 460px){
            margin-top: 3em;
        }
}
